<div *ngIf="errorMessage">
    Invalid Ticket ID
    <br /> <button [routerLink]="['../']"
            mat-raised-button
            color="primary">Back to Ticket List</button>

</div>
<div *ngIf="!errorMessage">
    <div>
        <a [routerLink]="['../']"> &lt; back to list</a>
    </div>
    <mat-card class="ticket-card"
              *ngIf="ticket$ | async as ticket">
        <mat-card-header>
            <mat-card-title id="ticket-name">{{ticket.name}}</mat-card-title>
            <mat-card-subtitle>
                <mat-form-field appearance="fill">
                    <mat-label>Assigned to</mat-label>
                    <mat-select [(ngModel)]="ticket.assigneeId"
                                (selectionChange)="assignTicket(ticket)"
                                name="user">
                        <mat-option *ngFor="let user of users$ | async"
                                    [value]="user.id">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p id="ticket-description">
                {{ticket.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button id="complete-button"
                mat-raised-button
                    color="primary"
                    (click)="complete(ticket)">Complete</button>
        </mat-card-actions>
    </mat-card>
</div>